In [2]:
# Import Packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [3]:
# Import Dataset
raw_data = pd.read_csv('car_price_raw.csv')
raw_data.head(11)

,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,13500,23.0,46986,Diesel,90.0,1.0,0,2000,3,1165
1,13750,23.0,72937,Diesel,90.0,1.0,0,2000,3,1165
2,13950,24.0,41711,Diesel,90.0,1.0,0,2000,3,1165
3,14950,26.0,48000,Diesel,90.0,0.0,0,2000,3,1165
4,13750,NaN,38500,Diesel,90.0,0.0,0,2000,3,1170
5,12950,32.0,61000,Diesel,90.0,0.0,0,2000,3,1170
6,16900,27.0,94612,Diesel,90.0,1.0,0,2000,3,1245
7,18600,30.0,75889,Diesel,90.0,1.0,0,2000,3,1245
8,21500,27.0,19700,Petrol,192.0,0.0,0,1800,3,1185
9,21500,27.0,19700,Petrol,192.0,0.0,0,1800,3,1185
10,12950,23.0,71138,Diesel,69.0,0.0,0,1900,3,1105

In [4]:
import ydata_profiling as pp
#Interactive and comprehensive EDA/ data description

ModuleNotFoundError: No module named 'ydata_profiling'