## NLP for smsspamcollection dataset

### Import NLTK tools

In [1]:
import nltk

In [2]:
# nltk.download_shell()

### Extract the dataset

In [3]:
messages = [line.rstrip() for line in open('smsspamcollection/SMSSpamCollection')]

In [4]:
print(len(messages))

5574

In [5]:
messages[5]

"spam\tFreeMsg Hey there darling it's been 3 week's now and no word back! I'd like some fun you up for it still? Tb ok! XxX std chgs to send, Â£1.50 to rcv"

A collection of texts is also can be called 'corpus'. Print the first 10 messages and number them using enumerate function.

In [6]:
for mess_no,message in enumerate(messages[:15]):
    print(mess_no, message)
    print('\n') #print the new line

0 ham	Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...


1 ham	Ok lar... Joking wif u oni...


2 spam	Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's


3 ham	U dun say so early hor... U c already then say...


4 ham	Nah I don't think he goes to usf, he lives around here though


5 spam	FreeMsg Hey there darling it's been 3 week's now and no word back! I'd like some fun you up for it still? Tb ok! XxX std chgs to send, Â£1.50 to rcv


6 ham	Even my brother is not like to speak with me. They treat me like aids patent.


7 ham	As per your request 'Melle Melle (Oru Minnaminunginte Nurungu Vettam)' has been set as your callertune for all Callers. Press *9 to copy your friends Callertune


8 spam	WINNER!! As a valued network customer you have been selected to receivea Â£900 prize reward! To claim call 09061701461. Claim code KL341. Valid 12 hours only.


9 spam	Had your mobile 11 months or more? U R entitled to Update to the latest colour mobiles with camera for Free! Call The Mobile Update Co FREE on 08002986030


10 ham	I'm gonna be home soon and i don't want to talk about this stuff anymore tonight, k? I've cried enough today.


11 spam	SIX chances to win CASH! From 100 to 20,000 pounds txt> CSH11 and send to 87575. Cost 150p/day, 6days, 16+ TsandCs apply Reply HL 4 info


12 spam	URGENT! You have won a 1 week FREE membership in our Â£100,000 Prize Jackpot! Txt the word: CLAIM to No: 81010 T&C www.dbuk.net LCCLTD POBOX 4403LDNW1A7RW18


13 ham	I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.


14 ham	I HAVE A DATE ON SUNDAY WITH WILL!!

In [7]:
messages[0]

'ham\tGo until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...'

Normal message represents 'ham' while 'spam' represents spam message.

To parsing the TSV (tab seperator values) using pandas in presenting into csv.

In [8]:
import pandas as pd

In [9]:
messages = pd.read_csv('smsspamcollection/SMSSpamCollection', sep='\t',
                      names=['label', 'message'])

In [10]:
messages

     label                                            message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham               Will ü b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

### EDA

In [11]:
messages.describe()

       label                 message
count   5572                    5572
unique     2                    5169
top      ham  Sorry, I'll call later
freq    4825                      30

In [12]:
messages.groupby('label').describe()

      message
        count unique                                                top freq
label
ham      4825   4516                             Sorry, I'll call later   30
spam      747    653  Please call our customer service representativ...    4

In [13]:
messages['length'] = messages['message'].apply(len)
messages.head()

  label                                            message  length
0   ham  Go until jurong point, crazy.. Available only ...     111
1   ham                      Ok lar... Joking wif u oni...      29
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     155
3   ham  U dun say so early hor... U c already then say...      49
4   ham  Nah I don't think he goes to usf, he lives aro...      61

### Data Visualisation

In [14]:
import matplotlib.pyplot as plt
import seaborn as sns

In [15]:
%matplotlib inline  #since I use jupyter notebook, goona use inline

UsageError: unrecognized arguments: #since I use jupyter notebook, goona use inline

In [ ]:
messages ['length'].plot.hist(bins=150)

In [ ]:
messages ['length'].plot.hist(bins=200)

In [ ]:
messages['length'].describe()

In [ ]:
# max is 910 characters is a quite a large message. lets find out

In [ ]:
messages [messages['length'] == 910]

In [ ]:
messages [messages['length'] == 910]['message'].iloc[0]

In [ ]:
messages.hist()

In [ ]:
messages.hist(column='length', by='label', bins=60,figsize=(12,4))

### Text pre-processing

In [ ]:
import string # use this to  remove punctuation

In [ ]:
mess = 'Sample message! Notice: it has punctuation.' # example # Bag of Words

In [ ]:
nopunc = [e for e in mess if e not in string.punctuation] #may define anything

In [ ]:
nopunc

In [ ]:
from nltk.corpus import stopwords #remove stop words. Import stopwords from nltk

In [ ]:
stopwords.words('English')  #and then pass in English if we just run this.

In [ ]:
nopunc = ''.join(nopunc) #put no punc.Set equals not join no punc and this is essentially just their way of joining elements in a list together.
                         #And now if I look at no punc it's back to its original form except now no longer has punctuation.

In [ ]:
nopunc

In [ ]:
x = 'a b c d'
x

In [ ]:
x = ['a', 'b', 'c', 'd']
x

In [ ]:
''.join(x) #to join them with space

In [ ]:
'+++'.join(x)

In [ ]:
'sad'.join(x)

In [ ]:
''.join(x)

In [ ]:
nopunc

In [ ]:
nopunc.split()

In [ ]:
clean_mess = [word for word in nopunc.split() if word.lower() not in stopwords.words('english')]

# stopwords we remove it and has

In [ ]:
clean_mess

In [ ]:
def text_process(mess):
    """
    1. remove punc
    2. remove stop words
    3. return list of clean text words
    """
    
    nopunc = [char for char in mess if char not in string.punctuation]
    
    nopunc = ''.join(nopunc)
    
    return [word for word in nopunc.split() if word.lower() not in stopwords.words('english')]

In [ ]:
messages.head()  #to tokenize them now

In [ ]:
messages['message'].head(5).apply(text_process) #to tokenize them

### Continuing Normalization

There are a lot of ways to continue normalising the text such as:

 1. Stemming 
 2. Part of Speech
 
Sometime it does not work for text messages since we are dealing with a lot of abbreviation sich as nah, IDK, wut time, da and etc.

May refer to NLTK book online.

### Vectorization

In [ ]:
# vectorization is used to convert the U, dun to make machine learning model unsdertand the words
# countvectorizer in scikit learn
# sparse matrix

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
bow_transformer = CountVectorizer(analyzer=text_process).fit(messages['message'])

In [ ]:
print(len(bow_transformer.vocabulary_))

In [ ]:
mess4 = messages['message'][3]

In [ ]:
print(mess4)

In [ ]:
bow4 = bow_transformer.transform([mess4])

In [ ]:
print(bow4)

There are seven unique wordsin message number 4 (remove common stop words). Two of them appear twice, the rest appear once.

In [ ]:
print(bow4.shape)

In [ ]:
bow_transformer.get_feature_names()[4068] #appear two times

In [ ]:
bow_transformer.get_feature_names()[9554] #appear two times

In [ ]:
bow_transformer.get_feature_names()[4068] #appear two times

print(bow_transformer.get_feature_names()[4073])
print(bow_transformer.get_feature_names()[9570])

In [ ]:
messages_bow = bow_transformer.transform(messages['message'])

In [ ]:
print('Shape of Sparse Matrix: ', messages_bow.shape)
print('Amount of Non-Zero occurences: ', messages_bow.nnz)

In [ ]:
sparsity = (100.0 * messages_bow.nnz / (messages_bow.shape[0] * messages_bow.shape[1]))
print('sparsity: {}'.format(round(sparsity)))

We use .transform on our bag os words transformed object and going to transform the entire DataFrame of messages. We check for the entire SMS corpus is a larg, sparse matrix. After the counting, the term weighting and normalisation can be done witn TF-IDF.

####  TF-IDF

In [ ]:
from sklearn.feature_extraction.text import TfidfTransformer

tfidf_transformer = TfidfTransformer().fit(messages_bow)
tfidf4 = tfidf_transformer.transform(bow4)
print(tfidf4)

In [ ]:
print(tfidf_transformer.idf_[bow_transformer.vocabulary_['u']])
print(tfidf_transformer.idf_[bow_transformer.vocabulary_['university']])

In [ ]:
messages_tfidf = tfidf_transformer.transform(messages_bow)
print(messages_tfidf.shape)

There are many ways the data can be processed and vectorised. Next, the steps involves feature engineering and build the pipeline.

### Training a model

In [ ]:
from sklearn.naive_bayes import MultinomialNB
spam_detect_model = MultinomialNB().fit(messages_tfidf, messages['label'])

In [ ]:
#from sklearn.naive_bayes import GaussianNB   #can't use Gausssian sice the string info
#spam_detect_model = GaussianNB().fit(messages_tfidf, message['label'])

In [ ]:
print('predicted:', spam_detect_model.predict(tfidf4)[0])
print('expected:', messages.label[3])

### Model Evaluation

In [ ]:
all_predictions = spam_detect_model.predict(messages_tfidf)
print(all_predictions)

In [ ]:
from sklearn.metrics import classification_report
print (classification_report(messages['label'], all_predictions))

### Train Test Split

In [ ]:
from sklearn.model_selection import train_test_split

msg_train, msg_test, label_train, label_test = \
train_test_split(messages['message'], messages['label'], test_size=0.2)

print(len(msg_train), len(msg_test), len(msg_train) + len(msg_test))

### Creating a Data Pipeline

In [ ]:
from sklearn.pipeline import Pipeline

pipeline = Pipeline([
    ('bow', CountVectorizer(analyzer=text_process)),  # strings to token integer counts
    ('tfidf', TfidfTransformer()),  # integer counts to weighted TF-IDF scores
    ('classifier', MultinomialNB()),  # train on TF-IDF vectors w/ Naive Bayes classifier
])

In [ ]:
pipeline.fit(msg_train,label_train)

In [ ]:
predictions = pipeline.predict(msg_test)

In [ ]:
print(classification_report(predictions,label_test))